<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum4.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.example.forum4.entity.Admin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="lastLogin" column="last_login" jdbcType="TIMESTAMP"/>
            <result property="adminRole" column="admin_role" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_name,password,
        email,last_login,admin_role
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from admin
        where  id = #{id,jdbcType=INTEGER} 
    </select>
   <select id="selectByAdminName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
    FROM admin
    WHERE admin_name = #{adminName}
</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from admin
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.forum4.entity.Admin" useGeneratedKeys="true">
    insert into admin
    ( id, admin_name, password,
      email, last_login, admin_role )
    values (#{id,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR}, #{lastLogin,jdbcType=TIMESTAMP}, #{adminRole,jdbcType=VARCHAR} )
</insert>
<insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.forum4.entity.Admin" useGeneratedKeys="true">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">id,</if>
        <if test="adminName != null">admin_name,</if>
        <if test="password != null">password,</if>
        <if test="email != null">email,</if>
        <if test="lastLogin != null">last_login,</if>
        <if test="adminRole != null">admin_role,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">#{id,jdbcType=INTEGER},</if>
        <if test="adminName != null">#{adminName,jdbcType=VARCHAR},</if>
        <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        <if test="email != null">#{email,jdbcType=VARCHAR},</if>
        <if test="lastLogin != null">#{lastLogin,jdbcType=TIMESTAMP},</if>
        <if test="adminRole != null">#{adminRole,jdbcType=VARCHAR},</if>
    </trim>
</insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.forum4.entity.Admin">
        update admin
        <set>
                <if test="adminName != null">
                    admin_name = #{adminName,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="email != null">
                    email = #{email,jdbcType=VARCHAR},
                </if>
                <if test="lastLogin != null">
                    last_login = #{lastLogin,jdbcType=TIMESTAMP},
                </if>
                <if test="adminRole != null">
                    admin_role = #{adminRole,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.forum4.entity.Admin">
        update admin
        set 
            admin_name =  #{adminName,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            email =  #{email,jdbcType=VARCHAR},
            last_login =  #{lastLogin,jdbcType=TIMESTAMP},
            admin_role =  #{adminRole,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
