<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum4.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.example.forum4.entity.Post">
            <id property="postId" column="post_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_id,user_id,title,
        content,category_id,created_at,
        updated_at,view_count
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from posts
        where  post_id = #{postId,jdbcType=INTEGER}
    </select>

    <select id="selectByCategoryId" resultMap="BaseResultMap">
        SELECT * FROM posts WHERE category_id = #{categoryId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from posts
        where  post_id = #{postId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="post_id" keyProperty="postId" parameterType="com.example.forum4.entity.Post" useGeneratedKeys="true">
        insert into posts
        ( post_id,user_id,title
        ,content,category_id,created_at
        ,updated_at,view_count)
        values (#{postId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{title,jdbcType=VARCHAR}
        ,#{content,jdbcType=VARCHAR},#{categoryId,jdbcType=INTEGER},#{createdAt,jdbcType=TIMESTAMP}
        ,#{updatedAt,jdbcType=TIMESTAMP},#{viewCount,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" keyColumn="post_id" keyProperty="postId" parameterType="com.example.forum4.entity.Post" useGeneratedKeys="true">
        insert into posts
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="postId != null">post_id,</if>
                <if test="userId != null">user_id,</if>
                <if test="title != null">title,</if>
                <if test="content != null">content,</if>
                <if test="categoryId != null">category_id,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
                <if test="viewCount != null">view_count,</if>
        </trim>
                <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="postId != null">#{postId,jdbcType=INTEGER},</if>
                <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="content != null">#{content,jdbcType=VARCHAR},</if>
                <if test="categoryId != null">#{categoryId,jdbcType=INTEGER},</if>
                <if test="createdAt != null">#{createdAt,jdbcType=TIMESTAMP},</if>
                <if test="updatedAt != null">#{updatedAt,jdbcType=TIMESTAMP},</if>
                <if test="viewCount != null">#{viewCount,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.forum4.entity.Post">
        update posts
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=INTEGER},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="content != null">
                    content = #{content,jdbcType=VARCHAR},
                </if>
                <if test="categoryId != null">
                    category_id = #{categoryId,jdbcType=INTEGER},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
                </if>
                <if test="viewCount != null">
                    view_count = #{viewCount,jdbcType=INTEGER},
                </if>
        </set>
        where   post_id = #{postId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.example.forum4.entity.Post">
        update posts
        set
            user_id =  #{userId,jdbcType=INTEGER},
            title =  #{title,jdbcType=VARCHAR},
            content =  #{content,jdbcType=VARCHAR},
            category_id =  #{categoryId,jdbcType=INTEGER},
            created_at =  #{createdAt,jdbcType=TIMESTAMP},
            updated_at =  #{updatedAt,jdbcType=TIMESTAMP},
            view_count =  #{viewCount,jdbcType=INTEGER}
        where   post_id = #{postId,jdbcType=INTEGER}
    </update>
</mapper>
