<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.forum4.mapper.UserPostViewMapper">

    <resultMap id="UserPostViewResultMap" type="com.example.forum4.entity.UserPostView">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="viewed_at" property="viewTime"/>
        <association property="post" resultMap="com.example.forum4.mapper.PostMapper.BaseResultMap" />

    </resultMap>

    <insert id="insert" parameterType="com.example.forum4.entity.UserPostView">
        INSERT INTO user_post_views (user_id, post_id)
        VALUES (#{userId}, #{postId})
    </insert>

    <select id="selectByUserId" resultMap="UserPostViewResultMap">
    SELECT
        upv.*,
        p.*
    FROM
        user_post_views upv
    INNER JOIN
        posts p ON upv.post_id = p.post_id
    WHERE
        upv.user_id = #{userId}
</select>

</mapper>
